<div class="container mt-4">
  <h1 class="mb-4"> Add New Job</h1>
  <form>
    <div class="mb-3">
      <label class="form-label">Job Title</label>
      <input type="text" class="form-control" placeholder="Job Title">
    </div>

    <div class="mb-3">
      <label class="form-label">Job Description</label>
      <input type="text" class="form-control" placeholder="Job Description">
    </div>

    <div class="mb-3">
      <label class="form-label">Comapny</label>
      <input type="text" class="form-control" placeholder="Company">
    </div>

    <div class="mb-3">
      <label class="form-label">Category</label>
      <select class="form-select">
        <option selected>Select</option>
        <option value="fron end">Front End</option>
        <option value="back end">Back end</option>
        <option value="full stack">Full Stack</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Location</label>
      <input type="string" class="form-control" placeholder="Location">
    </div>

    <div class="mb-3">
      <label class="form-label">Thumbnail</label>
      <input type="text" class="form-control" placeholder="Thumbnail">
    </div>

    <div class="mb-3">
      <label class="form-label">Salary</label>
      <input type="number" class="form-control" placeholder="Salary">
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary mb-3">Add New Job</button>
    </div>

  </form>
</div>
